body {
  background-image: url('denim.png');
}

h4 {
  margin: 0;
}

#outer-container {
  width: 900px;
  margin: 0 auto;
}
#content {
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 15px;
}

#logo {
  font-size: 3.4em;
  text-align: center;
  font-family: 'Patua One', cursive;
/*  color: rgba(0, 0, 0, .5);*/
  color: #365C91;
  text-shadow: 2px 2px 2px #000;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 1)), color-stop(50%, rgba(255,255,255,.7)), to(rgba(255,255,255,1)));  
}

#slogan {
  font-family: 'Patua One', sans-serif;
  font-size: 3.3em;
  float: left;
  width: 40%;
}

#slogan span {
  border-bottom: solid 2px;
}

#description {
  float: left;
  width: 50%;
  word-wrap: break-word;
  font-family: 'Chivo', sans-serif;

}

#copy {
  margin-top: 10px;
  font-family: 'Chivo', sans-serif;
  color: #FFF;
  text-align: center;
}

#employees {
  margin-top: 10px;
}

#employees img {
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

#employees div#dave {
  padding-bottom: 35px;
}

#employees div#jessie {
  padding-bottom: 0px;
}

#employees div#john {
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

#contact {
  margin-top: 30px;
  font-family: 'Chivo', sans-serif;
  font-size: 0.3em;
}
#contact ul {
  list-style: none;
}
